body {
  background: linear-gradient(#020617, black);
  color: white;
  font-family: Arial;
  text-align: center;
  margin: 0;
}

.title {
  animation: glow 2s infinite alternate;
  margin-top: 20px;
}

@keyframes glow {
  from { text-shadow: 0 0 10px gold; }
  to { text-shadow: 0 0 30px orange; }
}

.card {
  background: #111;
  padding: 15px;
  margin: 12px;
  border-radius: 12px;
  animation: fadeIn 0.8s ease;
}

button {
  padding: 12px;
  margin: 8px;
  background: gold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.1);
  background: orange;
}

.hit {
  transform: scale(1.2);
  background: darkred;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
