body {
  background: linear-gradient(black, #020617);
  color: white;
  text-align: center;
  font-family: Arial;
}

.title {
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from { text-shadow: 0 0 10px gold; }
  to { text-shadow: 0 0 25px orange; }
}

.card {
  background: #111;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  animation: fadeIn 1s;
}

.enemyBox {
  transition: transform 0.2s, background 0.2s;
}

.enemyBox.hit {
  transform: scale(1.1);
  background: darkred;
}

button {
  padding: 12px;
  margin: 10px;
  font-size: 16px;
  background: gold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.1);
  background: orange;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
