body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

button {
  padding: 12px;
  margin: 10px;
  font-size: 16px;
  background: gold;
  border: none;
  border-radius: 8px;
}

hr {
  margin: 20px;
}
